<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15866170890-vp7u2jpbcds428ldjubemc2si44529io.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15866170890-vp7u2jpbcds428ldjubemc2si44529io</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>15866170890-tp8cdmk50ovvi5rgqhpv2aphe01feapo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfi7dupq1lWL64jmndVFY3uTQ8NQe81CA</string>
	<key>GCM_SENDER_ID</key>
	<string>15866170890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aoomle.pineapple</string>
	<key>PROJECT_ID</key>
	<string>fruit-eater-27282</string>
	<key>STORAGE_BUCKET</key>
	<string>fruit-eater-27282.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15866170890:ios:365ca00c98c07e8138d9f3</string>
	<key>DATABASE_URL</key>
	<string>https://fruit-eater-27282-default-rtdb.firebaseio.com</string>
</dict>
</plist>